@import '@/assets/scss/_main';

aside {
    width: 200px;
    height: 100vh;
    background-color: $blue;
    transition: .3s;
    color: white;
    text-shadow: black 1px 1px 3px;

    .sidebar_avatar {
        list-style: none;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        display: block;
        background-color: $darkblue;
        height: 50px;

        li {
            margin: 0px;
        }

        .avatar {
            font-size: 35px;
        }
    }

    .sidebar_links {
        padding: 5px;
        list-style: none;

        li {
            display: flex;
            padding: 0px;
            white-space: nowrap;
            display: flex;
            border-radius: 4px;
            padding: 3px;
            cursor: pointer;

            a {
                padding: 0px;
                margin-left: 5px;
                
                i {
                    font-size: 25px;
                }

                span {
                    margin: 0px 10px;
                }
            }
        }

        li:hover{
            background-color: $darkblue;
            transition: .3s;
        }
    }
}

.sidebar_collapse {
    width: 55px;
    height: 100vh;
    background-color: $blue;
    transition: .3s;

    span {
        display: none;
    }
}