@import '@/assets/scss/_main';


#login-card {
    width: 250px;
    height: 200px;
    margin: 100px auto;
    padding: 20px;
    background-color: $blue;
    border-radius: 5px;
    box-shadow: 7px 7px 7px grey;
    border: none;
    
    .login-header {
        width: 100%;

        h1 {
            font-size: 30px;
            color: $white;
            text-shadow: black 2px 2px 5px;
        }
    }

    .btn-login {
        height: 35px;
        background-color: $darkblue;
        color: $white;
        box-shadow: black .5px .5px 2px;
    }
}